{% extends 'web/base.html' %}
{% block page_content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Propuestas</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Propuestas</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="ibox-content">
                        <div class="row border-bottom">
                            <div class="col-sm-4 m-b-xs">
                                <a href="{% url 'create_proposal' %}" class="btn btn-primary">Agregar</a>
                            </div>
                            <div class="col-sm-2 m-b-xs"></div>
                            <div class="col-sm-3">
                                <form class="input-group" style="margin-bottom: 14px">
                                    {{ search_form }}
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </form>
                            </div>
                            <div class="col-sm-3 m-b-xs">
                                    <a href="{% url 'proposal_pdf' %}" class="btn btn-primary">Exportar en PDF</a>
                            </div>
                        </div>
                        {% if not proposal_list %}
                            <p style="margin-top: 2.5%">No hay datos disponibles.</p>
                        {% else %}
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Estatus</th>
                                    <th>Titulo</th>
                                    <th>Estudiante</th>
                                    <th>Cedula</th>
                                    <th>Estudiante</th>
                                    <th>Cedula</th>
                                    <th>TERM</th>
                                </tr>
                                </thead>
                                <tbody>
                                        {% for proposal in proposal_list %}
                                    <tr>
                                        <td>{{ proposal.code }}</td>
                                        <td>{{ proposal.proposal_status.name }}</td>
                                        <td><a href="{% url 'proposal_detail' proposal.pk %}">{{ proposal.title }}</a></td>
                                        <td><a href="{% url 'person_detail' proposal.student1.pk %}">{{ proposal.student1.name|add:" "|add:proposal.student1.last_name }}</a></td>
                                        <td>{{ proposal.student1.pk }}</td>
                                        {% if proposal.student2 %}
                                            <td><a href="{% url 'person_detail' proposal.student2.pk %}">{{ proposal.student2.name|add:" "|add:proposal.student2.last_name }}</a></td>
                                            <td>{{ proposal.student2.pk }}</td>
                                        {% else %}
                                            <td>--</td>
                                            <td>--</td>
                                        {% endif %}
                                        <th>{{ proposal.term.period }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination float-right">
                                <span class="step-links ">
                                    {% if proposal_list.has_previous %}
                                        <a href="?page=1">&laquo; First</a>
                                        <a href="?page={{ proposal_list.previous_page_number }}">previous</a>
                                    {% endif %}
                                    {% if person_list.has_next %}
                                        <a href="?page={{ proposal_list.next_page_number }}">next</a>
                                        <a href="?page={{ proposal_list.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                                <span class="current">
                                    Page {{ proposal_list.number }} of {{ proposal_list.paginator.num_pages }}.
                                </span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company &copy; 2014-2018
        </div>
    </div>
{% endblock %}
