{% extends 'web/base.html' %}
{% block page_content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            {% if form.instance and form.instance.pk %}
                <h2>Editar Estatus de las Propuestas</h2>
            {% else %}
                <h2>Agregar Estatus de las Propuestas</h2>
            {% endif %}
            <ol class="breadcrumb">
                {# TODO: Connect with Django correctly #}
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'proposal_status_index' %}">Estatus de la propuestas</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row" style="margin-top: 1%">
        <div class="col-lg-12">
            {% if messages %}
                <ul class="col-lg-12 messages">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        {% endif %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-error alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="ibox">
                <div class="ibox-content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row" style="margin-top: 1.5%">
                            <label class="col-sm-2 col-form-label" for="{{ form.name.name }}">
                                {{ form.name.label }}
                            </label>
                            <div class="col-sm-5 {% if form.name.errors %} has-error{% endif %}">
                                {{ form.name }}
                                {% for error in form.name.errors %}
                                    <span class="form-text m-b-none text-danger">
                                        {{ error|escape }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group row" style="margin-top: 1.5%">
                            <label class="col-sm-2 col-form-label" for="{{ form.description.name }}">
                                {{ form.description.label }}
                            </label>
                            <div class="col-sm-5 {% if form.description.errors %} has-error{% endif %}">
                                {{ form.description }}
                                {% for error in form.description.errors %}
                                    <span class="form-text m-b-none text-danger">
                                        {{ error|escape }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-11"></div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}