{% extends 'web/base.html' %}
{% block page_content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Gestión de trabajos de grado</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <strong>Home</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="text-right">
                {% if user.is_authenticated %}
                    <p class="m-t-lg">
                        Bienvenido, <span class="text-navy">{{ user.username }}</span>!
                    </p>                    {% else %}
                    <p class="m-t-lg">
                        No haz <a href="{% url 'login' %}">iniciado sesión</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content text-center m-md">
                    <h2 style="line-height: 32pt">
                        El <span class="text-navy">sistema de gestión de trabajos de grado</span>
                        permite fácilmente manejar toda la información <br>relacionada a los trabajos de grado
                        de la Escuela de Ingeniería Informática de la UCAB.
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}