{% extends 'web/base.html' %}
{% block page_content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            {% if form.instance and form.instance.pk %}
                <h2>Editar persona</h2>
            {% else %}
                <h2>Agregar persona</h2>
            {% endif %}
            <ol class="breadcrumb">
                {# TODO: Connect with Django correctly #}
                <li class="breadcrumb-item">
                    <a href="index-2.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'person_type_index' %}">Tipos de persona</a>
                </li>
                {% if form.instance and form.instance.pk %}
                    <li class="breadcrumb-item">
                        <a>{{ form.instance.name }}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Editar</strong>
                    </li>
                {% else %}
                    <li class="breadcrumb-item active">
                        <strong>Agregar</strong>
                    </li>
                {% endif %}
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row" style="margin-top: 1%">
        <div class="col-lg-12">
            {% if messages %}
                <ul class="col-lg-12 messages">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        {% endif %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-error alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="ibox">
                <div class="ibox-content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="{{ form.name.name }}">
                                {{ form.name.label }}
                            </label>
                            <div class="col-sm-8 {% if form.name.errors %} has-error{% endif %}">
                                {{ form.name }}
                                {% for error in form.name.errors %}
                                    <span class="form-text m-b-none text-danger">{{ error|escape }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="hr-line-dashed m-t-lg"></div>
                        <div class="form-group row text-right">
                            <div class="col-sm-11"></div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}