{% extends 'web/base.html' %}
{% block page_content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Personas</h2>
            <ol class="breadcrumb">
                {# TODO: Connect with Django correctly #}
                <li class="breadcrumb-item">
                    <a href="index-2.html">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Personas</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="row border-bottom">
                            <div class="col-sm-5 m-b-xs">
                            </div>
                            <div class="col-sm-4 m-b-xs"></div>
                            <div class="col-sm-3">
                                <form class="input-group" style="margin-bottom: 14px">
                                    {{ search_form }}
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Cédula</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Tipo</th>
                                    <th>Correo UCAB</th>
                                    <th>Correo personal</th>
                                    <th>Teléfono Principal</th>
                                    <th>Teléfono Secundario</th>
                                    <th>Observaciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for person in person_list %}
                                    <tr>
                                        <td>{{ person.id_card_number }}</td>
                                        <td>{{ person.name }}</td>
                                        <td>{{ person.last_name }}</td>
                                        <td>{{ person.get_type_display }}</td>
                                        <td>{{ person.ucab_email }}</td>
                                        <td>{{ person.email }}</td>
                                        <td>{{ person.primary_phone_number }}</td>
                                        <td>{{ person.secondary_phone_number|default:"-" }}</td>
                                        <td>{{ person.observations|default:"-" }}</td>
                                        <td>
                                            <a href="{% url 'edit_person' person.id_card_number %}"
                                               class="btn btn-sm btn-outline-warning">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="pagination float-right">
                                <span class="step-links ">
                                {# If the search_param attribute is not None, append it to the URL to maintain pagination in a filtered search #}
                                    {% if person_list.has_previous %}
                                        <a href="?page=1{% if search_param %}&search={{ search_param }}{% endif %}">&laquo; First</a>
                                        <a href="?page={{ person_list.previous_page_number }}{% if search_param %}&search={{ search_param }}{% endif %}">previous</a>
                                    {% endif %}
                                    {% if person_list.has_next %}
                                        <a href="?page={{ person_list.next_page_number }}{% if search_param %}&search={{ search_param }}{% endif %}">next</a>
                                        <a href="?page={{ person_list.paginator.num_pages }}{% if search_param %}&search={{ search_param }}{% endif %}">last &raquo;</a>
                                    {% endif %}
                                </span>
                                <span class="current">
                                    Page {{ person_list.number }} of {{ person_list.paginator.num_pages }}.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            10GB of <strong>250GB</strong> Free.
        </div>
        <div>
            <strong>Copyright</strong> Example Company &copy; 2014-2018
        </div>
    </div>
{% endblock %}